/.classpath
/.project
/.settings
/repository-hibernate/.project
/repository-hibernate/.settings
/repository-hibernate/target
/repository-hibernate/.classpath
/provider-spring/.settings
/domain/target
/domain/.classpath
/domain/.project
/provider-spring/target
/provider-spring/.project
/provider-spring/.classpath
/domain/.settings
/repository-jdbc/.project
/repository-jdbc/target
/repository-jdbc/.classpath
/repository-jdbc/.settings
/test/.settings
/test/target
/test/.classpath
/test/.project
